<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
                        <link rel="alternate" type="application/atom+xml" title="Nhat Le's blog" href="/feed.xml"></head>
		<body>
			<nav>
	    		<ul>
	        		<li><a class="bar" href="/">Home</a></li>
		        	<li><a class="bar" href="/about">About</a></li>
	        		<li><a class="bar" href="/cv/NhatLeCV_BMM.pdf">CV</a></li>
	        		<li><a class="bar" href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:nmle@mit.edu" target="_blank">email</a></li>
	        		<li><a href="https://github.com/nhat-le" target="_blank">github.com/nhat-le</a></li>
				</ul>
			</footer>
		</body>
	</html>
